In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import dates as mpl_dates
import os

In [31]:
df = pd.read_csv("./csvs/well23.csv", encoding= 'unicode_escape', low_memory=False)
df['Date'] = pd.to_datetime(df['Date'])
df = df.groupby(['Date','Well'], as_index=False)['waterlvl'].mean()
df = df.set_index('Date')
df = df.loc['05/1/2018':'7/31/2018']
df = df.groupby([pd.Grouper(freq="D"),'Well'])['waterlvl'].mean().reset_index()
df.to_csv ('Well23may_july2018.csv', index = False)
print (df [0:])

         Date      Well  waterlvl
0  2018-05-01  23T2EL4E -0.775133
1  2018-05-02  23T2EL4E -0.808187
2  2018-05-03  23T2EL4E -0.826929
3  2018-05-04  23T2EL4E -0.840567
4  2018-05-05  23T2EL4E -0.862858
..        ...       ...       ...
87 2018-07-27  23T2EL4E -0.506992
88 2018-07-28  23T2EL4E -0.207629
89 2018-07-29  23T2EL4E -0.031679
90 2018-07-30  23T2EL4E -0.101525
91 2018-07-31  23T2EL4E -0.143858

[92 rows x 3 columns]

In [23]:
#f = pd.read_csv("./csvs/well3.csv")

files = [file for file in os.listdir('./csvs')]
print(files)

#well=["well"+str(i) for i in range(11)]
#print(string)

#nums=(14,16)
string=["well"+str(files) for file in files ]
i=1

for file in files:
    df = pd.read_csv("./csvs/"+file)
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.groupby(['Date','Well #'], as_index=False)['waterlvl'].mean()
    df = df.set_index('Date')
    df = df.loc['05/1/2016':'7/31/2016']
    df = df.groupby([pd.Grouper(freq="D"),'Well #'])['waterlvl'].mean().reset_index()
    #df.to_csv (string[files], index = False)
    print (df)
    

#print(all_data[0:])
#all_data.to_csv("all_data.csv", index=False)

['idw_may2019.csv', 'well10.csv', 'well11.csv', 'well14.csv', 'well16.csv', 'well19.csv', 'Well23.csv', 'Well27.csv', 'Well28.csv', 'well3.csv', 'Well33.csv', 'Well34.csv', 'Well36.csv', 'Well38.csv', 'Well39.csv', 'well4.csv', 'Well44.csv', 'well6.csv', 'well7.csv', 'well9.csv']

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

         Date  Well #  waterlvl
0  2016-05-01    44.0  0.492379
1  2016-05-02    44.0  0.488867
2  2016-05-03    44.0  0.431546
3  2016-05-04    44.0  0.355617
4  2016-05-05    44.0  0.284604
..        ...     ...       ...
87 2016-07-27    44.0  0.157992
88 2016-07-28    44.0  0.133608
89 2016-07-29    44.0  0.124296
90 2016-07-30    44.0  0.122850
91 2016-07-31    44.0  0.130463

[92 rows x 3 columns]

KeyError: 'Well #'

In [25]:
df= pd.read_csv('new.csv')
df

,Date,well3,well4,well6,well7,well9,well10,well11,well14,well16,well19
0,5/1/2016,0.406421,0.022246,0.101054,-0.013900,-0.050504,-0.028896,0.019183,0.212267,-0.003008,0.240979
1,5/2/2016,0.403917,0.012821,0.086171,-0.030904,-0.078088,-0.044492,0.007467,0.237737,0.019350,0.270188
2,5/3/2016,0.350013,0.003587,0.075196,-0.048137,-0.131500,-0.065925,-0.008058,0.207296,-0.009346,0.240683
3,5/4/2016,0.279250,-0.017750,0.058096,-0.062554,-0.227900,-0.128312,-0.049283,0.166454,-0.044850,0.199667
4,5/5/2016,0.218438,-0.052921,0.015429,-0.101246,-0.342137,-0.221804,-0.138642,0.137746,-0.104163,0.169208
...,...,...,...,...,...,...,...,...,...,...,...
87,7/27/2016,0.019704,-1.041925,-1.200196,-0.706717,-1.360758,-1.143446,-1.111104,-0.038733,-0.742938,0.058800
88,7/28/2016,0.025117,-1.049479,-1.256404,-0.810446,-1.453113,-1.217179,-1.147721,-0.092121,-0.825329,0.055333
89,7/29/2016,0.020333,-1.080029,-1.309658,-0.914258,-1.533346,-1.283700,-1.194371,-0.145471,-0.906842,0.049712
90,7/30/2016,0.012496,-1.112308,-1.361633,-1.013304,-1.599896,-1.340083,-1.239825,-0.204600,-0.977025,0.044100
91,7/31/2016,0.029792,-0.948679,-1.116462,-0.710000,-1.239454,-1.054800,-0.903358,-0.097212,-0.654971,0.062642

In [26]:
allwell=pd.DataFrame()


for row in allwell:
    #df['Date'] = pd.to_datetime(df['Date'])
    date = df['Date']
    allwell.append(date)
print(allwell)
    # Get vector of well ids
    
    # arcpy join of well points to point shapefile
    
    # idw of point shapefile, save idw output with date title

Empty DataFrame
Columns: []
Index: []

In [12]:
count = pd.read_csv('new.csv')
wet_days = count.groupby(['Date','well3'])['well3'].count(<0)
wet_days[0:20]

SyntaxError: invalid syntax (<ipython-input-12-1a911dee8c9f>, line 2)

In [21]:
data=pd.read_csv('new.csv')
data = data[data['well19'] > 0]
print(data)

         Date     well3     well4     well6     well7     well9    well10  \
0    5/1/2016  0.406421  0.022246  0.101054 -0.013900 -0.050504 -0.028896
1    5/2/2016  0.403917  0.012821  0.086171 -0.030904 -0.078088 -0.044492
2    5/3/2016  0.350013  0.003587  0.075196 -0.048137 -0.131500 -0.065925
3    5/4/2016  0.279250 -0.017750  0.058096 -0.062554 -0.227900 -0.128312
4    5/5/2016  0.218438 -0.052921  0.015429 -0.101246 -0.342137 -0.221804
..        ...       ...       ...       ...       ...       ...       ...
87  7/27/2016  0.019704 -1.041925 -1.200196 -0.706717 -1.360758 -1.143446
88  7/28/2016  0.025117 -1.049479 -1.256404 -0.810446 -1.453113 -1.217179
89  7/29/2016  0.020333 -1.080029 -1.309658 -0.914258 -1.533346 -1.283700
90  7/30/2016  0.012496 -1.112308 -1.361633 -1.013304 -1.599896 -1.340083
91  7/31/2016  0.029792 -0.948679 -1.116462 -0.710000 -1.239454 -1.054800

      well11    well14    well16    well19
0   0.019183  0.212267 -0.003008  0.240979
1   0.007467  0.237737  0.019350  0.270188
2  -0.008058  0.207296 -0.009346  0.240683
3  -0.049283  0.166454 -0.044850  0.199667
4  -0.138642  0.137746 -0.104163  0.169208
..       ...       ...       ...       ...
87 -1.111104 -0.038733 -0.742938  0.058800
88 -1.147721 -0.092121 -0.825329  0.055333
89 -1.194371 -0.145471 -0.906842  0.049712
90 -1.239825 -0.204600 -0.977025  0.044100
91 -0.903358 -0.097212 -0.654971  0.062642

[89 rows x 11 columns]